<div class="col-mat-11 col-sm-11 col-xs-10">
	<mat-form-field class="full-width">
		<input [disabled]="selectedParameters.length == 0" 
		matInput placeholder="Search" (keyup)="search($event.target.value)"
		type="text" autocomplete="off">
	</mat-form-field>
</div>
<div class="col-mat-1 col-sm-1 col-xs-2" style="padding-top: 10px;">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<mat-list>
			<mat-list-item *ngFor="let parameter of parameters">
				<mat-checkbox
					[(ngModel)]="parameter.status"
					(change)="selectParameter(parameter)"
					style="font-weight: 100 !important;">
					{{ parameter.name }}
				</mat-checkbox>
			</mat-list-item>
		</mat-list>
	</mat-menu>
</div>