<mat-sidenav-container *ngIf="isLoggedIn$ | async as isLoggedIn">
	<mat-sidenav #sidenav mode="over" opened="false">
		<mat-card class="profile-section">
			<div class="container container-width">
				<div class="row">
					<mat-card-header>
						<!-- <img class="profile-image" mat-card-image src="assets/img/terminus.png"> -->
						<h3>Image appears here</h3>
					</mat-card-header>
				</div>
			</div>
		</mat-card>
		<mat-accordion [displayMode]="flat" [multi]="multi" class="mat-expansion-demo-width">
			<mat-expansion-panel [hideToggle]="hideToggle">
				<mat-expansion-panel-header>Master Data</mat-expansion-panel-header>
				<mat-list>
					<mat-list-item routerLinkActive="active" routerLink="/master-data/companies">
						<mat-icon class="icon" mat-list-avatar>business_center</mat-icon>
						<a>Companies</a>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item routerLinkActive="active" routerLink="/master-data/branches">
						<mat-icon class="icon" mat-list-avatar>art_track</mat-icon>
						<a>Branches</a>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item routerLinkActive="active" routerLink="/master-data/users">
						<mat-icon class="icon" mat-list-avatar>art_track</mat-icon>
						<a>Users</a>
					</mat-list-item>
				</mat-list>
			</mat-expansion-panel>
		</mat-accordion>
			<!--<mat-expansion-panel [hideToggle]="hideToggle">
				<mat-expansion-panel-header>Configuration</mat-expansion-panel-header>
				<mat-list>
					<mat-list-item routerLinkActive="active" routerLink="/configuration/companies">
						<mat-icon class="icon" mat-list-avatar>call</mat-icon>
						<a>Companies</a>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item routerLinkActive="active" routerLink="/configuration/branches">
						<mat-icon class="icon" mat-list-avatar>playlist_add</mat-icon>
						<a>Branches</a>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item routerLinkActive="active" routerLink="/configuration/users">
						<mat-icon class="icon" mat-list-avatar>playlist_add</mat-icon>
						<a>Users</a>
					</mat-list-item>
				</mat-list>
			</mat-expansion-panel>
			<mat-expansion-panel [hideToggle]="hideToggle">
				<mat-expansion-panel-header>Administration</mat-expansion-panel-header>
				<mat-list>
					<mat-list-item routerLinkActive="active" routerLink="/administration/users">
						<mat-icon class="icon" mat-list-avatar>person</mat-icon>
						<a>Users</a>
					</mat-list-item>
				</mat-list>
			</mat-expansion-panel>
		</mat-accordion> -->
	</mat-sidenav>
	<mat-toolbar color="primary">
		<mat-icon class="menu" (click)="sidenav.toggle()">menu</mat-icon>
		<span class="example-spacer"></span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>person</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-button (click)="onLogout()" *ngIf="isLoggedIn"><mat-icon>exit_to_app</mat-icon>
				<span>Log out</span>
			</button>
		</mat-menu>
	</mat-toolbar>
	<div class="main-content">
		<router-outlet></router-outlet>		 
   </div>
</mat-sidenav-container>
